@tailwind base;
@tailwind components;
@tailwind utilities;

.hangtag {
  position: relative;
  border-radius: 4px;
}
.hangtag::before {
  content: '';
  position: absolute;
  top: -13px;
  left: 50%;
  transform: translateX(-50%);
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #f1efe4;
  border: 2px solid #212c39;
}
.hangtag::after {
  content: '';
  position: absolute;
  top: -2px;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 14px;
  background: #4a5568;
}
